body{
    align-items: center;
    background-color: slategray;
   display: inline;
}

header {
    border: 2px solid white;
    text-align: center;
    color: white;
    background-color: black;
    
}
#searchbar {
    background-color: orange;
   display: inline-block;
    border: 2px solid black;
    justify-content: center;
    width: 36%;
    padding: 1%;
    margin: 1%;
    min-height: 300px;
    #searchbox {
        width: 50%;
    }
    #searchBtn {
        margin-left: 1%;
        width: 45%;
    }
    #searchBtn:hover {
        background-color: lightblue;
    }

    #list {
        margin: 1%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        button {
            width: 100%;
        }
    }
}
#container {
    background-color: burlywood;

    text-align: center;
    padding: 1%;
    margin: 1%;
    border: 2px solid black;
    width: 55%;
    float: right;
    height: 300px;
}



#forecast {
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    background-color: orange;
    display: flex;
    flex-direction: row;
    width: 100%;
    .fiveday{
        color: white;
        width: 100%;
        display: flex;
        flex-direction: c;
        justify-content: center;
        align-items: center;
    }

}
.date {
    border: 2px dotted black;
    margin: 2%;
    padding: 3%;
    background-color: grey;
    display: block;
    width: 260px;

}

